/*******************
Button specifics
*******************/

.code-info {
  text-align: center;
  margin: 0 auto;
  width: 90%;

  .button__large {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    color: $GREY_800;
    background-color: $BUTTON_RAISED_BACKGROUND_COLOR;
    text-align: center;
    padding: 12px 20px;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    letter-spacing: 0.5px;

    &:hover {
      color: $GREY_800;
      background-color: $WHITE;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    i {
      font-size: 20px;
      margin-right: 0.5rem;
    }
  }

  .liz-logo {
    color: $BUTTON_RAISED_BACKGROUND_COLOR;
    font-weight: 400;
    background: $LOGO_START_COLOR;
    background: -webkit-linear-gradient(
      to left,
      $LOGO_START_COLOR,
      $LOGO_END_COLOR
    );
    background: linear-gradient(to left, $LOGO_START_COLOR, $LOGO_END_COLOR);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.4);

    &:hover {
      font-weight: 600;
      color: $WHITE;
    }
  }
}
