/*******************
Table
*******************/

.table-container {
  width: 90%;
  margin: 10vw auto;

  .table-title-wrapper {
    font-size: 0.9vw;

    .table-title-heading {
      font-family: $BODY_FONT_FAMILY;
      color: $GRAPH_TITLE_COLOR;
      text-align: center;
      text-transform: uppercase;
      margin: 3em 0;
      font-size: 3.3em;
      font-weight: 400;
      letter-spacing: 0.1em;
      line-height: 1;
    }
  }
}

table,
td,
th {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
}

table {
  background-color: $CLEAR-COLOR;
  border-collapse: collapse;
  word-break: break-word;
}

.med-col {
  width: 50%;
}

thead {
  background-color: $BLACK_OPACITY_LOW;
  color: $WHITE;
}

td,
th {
  padding: 1em;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid $TABLE_BACKGROUND_COLOR;
}

td {
  background-color: $WHITE_OPACITY_HIGH;
}

a {
  color: $BLACK;
  font-weight: bold;
  text-decoration: none;
}
