@charset 'utf-8';

@import url('https://use.fontawesome.com/7d90fe5352.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,400');

/*******************
Dimensions
*******************/
$IMAGE_MAX_WIDTH: 800px;
$HEADING_MAX_WIDTH: 700px;
$TEXT_MAX_WIDTH: 650px;
$MARGIN_SPACE: 100px;
$SECTION_MAX_WIDTH: 1000px !important;

/*******************
Colors
*******************/
// Based on Highcharts Dark Unica
// http://www.highcharts.com/docs/chart-design-and-style/themes;
$GRAPH_TITLE_COLOR: #e0e0e3;
$GRAPH_AXIS_TITLE_COLOR: #a0a0a3;
$GRAPH_AXIS_LABEL_COLOR: #e0e0e3;
$GRAPH_MAJOR_LINE_COLOR: #707073;
$GRAPH_MINOR_LINE_COLOR: #505053;
$GRAPH_TOOLTIP_BACKGROUND_COLOR: rgba(0, 0, 0, 0.85);
$GRAPH_TOOLTIP_TEXT_COLOR: #f0f0f0;
$GRAPH_DATA_LABEL_COLOR: #b0b0b3;
$GRAPH_DATA_MARKER_COLOR: #333;
$GRAPH_LEGEND_ITEM_COLOR: #e0e0e3;
$GRAPH_LEGEND_ITEM_HOVER_COLOR: #fff;
$GRAPH_LEGEND_ITEM_HIDDEN_COLOR: #e0e0e3;
$TABLE_BORDER_COLOR: #606063;
$TABLE_BACKGROUND_COLOR: #3e3e40;
// Google's Material Design Theme
// https://material.google.com/style/color.html#color-color-palette;
$CLEAR_COLOR: transparent;
$BLACK: #000;
$WHITE: #fff;
$PURPLE_DEEP_900: #5a2b81;
$PURPLE_DEEP_A100: #b388ff;
$PURPLE_DEEP_100: #d1c4e9;
$GREY_200: #eee;
$GREY_400: #bdbdbd;
$GREY_600: #757575;
$GREY_800: #424242;
$GREY_BLUE_200: #b0bec5;
$GREY_BLUE_500: #607d8b;
$BLUE_LIGHT_900: #01579b;
$BLUE_LIGHT_500: #03a9f4;
$TEAL_500: #009688;
$TEAL_200: #80cbc4;
$GREEN_LIGHT_600: #7cb342;
$GREEN_LIGHT_A700: #64dd17;
$YELLOW_300: #fff176;
$AMBER_300: #ffca28;
$BLACK_OPACITY_LOW: rgba(0, 0, 0, 0.3);
$BLACK_OPACITY_HIGH: rgba(0, 0, 0, 0.6);
$WHITE_OPACITY_HIGH: rgba(255, 255, 255, 0.8);
$WHITE_OPACITY_LOW: rgba(255, 255, 255, 0.3);

/*******************
Logo
*******************/
$LOGO_START_COLOR: #5f2c82;
$LOGO_END_COLOR: #49a09d;

/*******************
Fonts
*******************/
$HEADING_FONT_FAMILY: 'Yanone Kaffeesatz', arial, sans-serif;
$BODY_FONT_FAMILY: 'Roboto', arial, sans-serif;

/*******************
Buttons
*******************/
$BUTTON_BORDER: none !default;
$BUTTON_FONT_SIZE: 1.3rem !default;
$BUTTON_HEIGHT: 36px !default;
$BUTTON_PADDING: 0 2rem !default;
$BUTTON_RADIUS: 2px !default;
$BUTTON_FOCUS_BACKGROUND_COLOR: $WHITE !default;
$BUTTON_RAISED_BACKGROUND_COLOR: $WHITE_OPACITY_HIGH !default;
$BUTTON_RAISED_HOVER_BACKGROUND_COLOR: $BLACK_OPACITY_HIGH !default;
$BUTTON_RAISED_COLOR: $WHITE !default;
$BUTTON_LARGE_ICON_SIZE: 1.6rem !default;
$BUTTON_LARGE_HEIGHT: $BUTTON_HEIGHT * 1.5 !default;

@import '_base', '_buttons', '_collapsible', '_table', '_heading', '_charts';
